<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zayan.www.repository.ProductImageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zayan.www.model.entity.ProductImage">
        <id column="id" property="id" />
        <result column="shop_id" property="shopId" />
        <result column="price" property="price" />
        <result column="remark" property="remark" />
        <result column="image_id" property="imageId" />
        <result column="status" property="status" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="deleted_at" property="deletedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shop_id, price, remark, image_id, status, created_at, updated_at, deleted_at
    </sql>
    <select id="imagesList" resultType="com.zayan.www.model.vo.api.product.ProductImageVO">
        select a.price, a.remark, b.path as product_image_url from product_image a left join images b on a.image_id = b.id where a.shop_id = #{shopId} and status = 1
    </select>

</mapper>
