<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zayan.www.repository.SkusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zayan.www.model.entity.Skus">
        <id column="id" property="id"/>
        <result column="no" property="no"/>
        <result column="stock" property="stock"/>
        <result column="version" property="version"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, no, stock, version, created_at, updated_at
    </sql>

    <update id="decrementStock" >
        update skus set stock = stock - 1 where `no` = #{skuNo}
    </update>

</mapper>
